body {
  background-color: #D3D3D3;
}

#formLogar{
  width: 45%;
  height: 40%;
  margin-top: 10%;
  padding-top: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
  padding-right: 2%;
}

#cards{
  left: 3%;
  top: 40px;
  padding-left: 1%;
  padding-right: 1%;
  display: inline-block;
}